<header class="header">
  <div class="row">
    <div class="columns large-12">
      <div class="header__inner">
        <div class="header__logo">
          <a href="{{ site.baseurl }}/" class="logo" title="anthony.beran.io"></a>
        </div>
        <nav class="nav header__nav">
          {% assign pages = site.pages | where: 'location' , 'mainNav' | sort: 'weight' %}
          {% for page in pages %}
          <a href="{{ page.url | prepend: site.baseurl }}" class="nav__item">
            <span class="nav__txt">{{ page.title }}</span>
          </a>
          {% endfor %}
        </nav>
      </div>
    </div>
  </div>
</header>
