.social {
  text-align: right;
}

.social__icon {
  @include rem('font-size', 40);
  background: none;
  color: #{map-get($colors, base-txt-color)};
  text-decoration: none;

  & + .social__icon {
    @include rem('margin-left', 10);
  }

  &:hover {
    color: #{map-get($colors, accent-color)};
  }
}
