body {
  font-family: $body-font;
}

html,
body {
  // font-size: calc(0.85rem + 1vw);
  font-size: calc(1vw * 1.25 + 0.5rem);

  @include mq($from: map-get($mq-breakpoints, medium)) {
    font-size: calc(1vw * 1.25);
  }
}

code {
  font-family: $code-font;
}
