body {
  font-family: $body-font;
}

html,
body {
  font-size: calc(1vw * 1.25 + .5rem);

  @include mq($from: map-get($mq-breakpoints, medium)) {
    font-size: calc(1vw * 1.25);
  }
}

code {
  font-family: $code-font;
}

a {
  color: #{map-get($colors, accent-color)};
}
