<!DOCTYPE html>
<html>
{% include head.html %}
<body data-theme="{{ page.theme }}">
{% include header.html %}

  <div class="body">
    <div class="row">
      <div class="columns small-9">
        <main class="main">
          {{ content }}
        </main>
      </div>

      <div class="columns small-3">
        <aside class="sidebar">
          <nav class="sidebar__nav">
            {% for post in site.posts %}
              <a class="sidebar__link date-link" href="{{ post.url | prepend: site.baseurl }}" data-date="{{ post.date | date: "%b %-d, %Y" }}">{{ post.title }}</a>
            {% endfor %}
          </nav>
        </aside>
      </div>
    </div>
  </div>

{% include footer.html %}
</body>
</html>
